<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercícios: Filtros</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body ng-app="FuncionariosApp" ng-controller="FuncionariosController as funcCtrl">

    <input type="text" ng-model="searchInput">

    <table>
      <th>
        <td>
          <b>Nome</b>
        </td>
        <td>
          <b>CPF</b>
        </td>
        <td>
          <b>E-mail</b>
        </td>
        <td>
          <b>Telefone</b>
        </td>
        <td>
          <b>Salário</b>
        </td>
      </th>
      <tr ng-repeat="employee in funcCtrl.employees">
        <td>
          {{employee.name}}
        </td>
        <td>
          {{employee.cpf}}
        </td>
        <td>
          {{employee.email}}
        </td>
        <td>
          {{employee.phone}}
        </td>
        <td>
          {{employee.salary}}
        </td>
      </tr>
    </table>

  </body>
</html>
