<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercícios: Filtros</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body ng-app="FuncionariosApp" ng-controller="FuncionariosController as funcCtrl">

     <p> Search : </p><input type="text" ng-model="searchInput">
     <p> Limite: </p><input type="text" ng-model="limite">

    <table>
      <th>
        <td>
          <b>Nome</b>
        </td>
        <td>
          <b>CPF</b>
        </td>
        <td>
          <b>E-mail</b>
        </td>
        <td>
          <b>Telefone</b>
        </td>
        <td>
          <b>Salário</b>
        </td>
      </th>
      <tr ng-repeat="employee in funcCtrl.employees | filter: searchInput  | orderBy : 'name' | limitTo: limite">
        <td>
          {{employee.name}}
          <br>
        </td>
        <td>
          {{employee.cpf | cpf}}
          <br>
        </td>
        <td>
          {{employee.email}}
          <br>
        </td>
        <td>
          {{employee.phone | tel}}
          <br>
        </td>
        <td>
          {{employee.salary}}
          <br>
        </td>
      </tr>
    </table>

  </body>
</html>
